body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    cursor: url("../img/favicon.svg"), auto;
}

.first {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    min-height: 100vh;
    /* max-height: 200vh; */
    /* overflow: hidden; */
}

.background {
    z-index: 1; 
    opacity: 0.7; 
}

.lungs {
    width: 65vw;
    z-index: 2; 
    position: absolute;
    top: 7%; 
    opacity: 0.8;
    align-self: center;
    justify-self: center;
    /* transform: translate(-50%, -50%);  */
    animation: pulsate 2s 2s infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(1); 
    }
    50% {
        transform: scale(1.1); 
    }
    100% {
        transform: scale(1);
    }
}

.background img {
    width: 100%; 
    height: auto; 
}
.b1 {
    width: 19vw;
    height: auto;
    position: absolute;
    top: 26%;
    left: 30%;
    animation: move1 4s ease-in 2s infinite;
}

@keyframes move1 {
 0% { transform: translate(0, 0); }
 50% { transform: translate(0vw, -10vh); } 
 100% { transform: translate(0, 0); } } 
 

.b2 {
    position: absolute;
    width: 20vw;
    height: auto;
    top: 40%;
    left: 23%;
    animation: move2 4s ease-in 2s infinite;
}

@keyframes move2 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(-5vw, -10vh); } 
    100% { transform: translate(0, 0); } } 

.b3 {
    position: absolute;
    width: 17vw;
    height: auto;
    top: 57%;
    left: 20%;
    animation: move3 6s ease-in 2s infinite;
}
@keyframes move3 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(-12vw, 0vh); } 
    100% { transform: translate(0, 0); } } 

.b4 {
    position: absolute;
    width: 29vw;
    height: auto;
    top: 80%;
    left: 15%;
    animation: move4 2s ease-in 2s infinite;
}
@keyframes move4 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(-1vw, -2vh); } 
    100% { transform: translate(0, 0); } } 
.b5{
    position: absolute;
    width: 23vw;
    height: auto;
    top: 99%;
    left: 15%;
    animation: move5 2s ease-in 2s infinite;
}

@keyframes move5 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(-3vw, 3vh); } 
    100% { transform: translate(0, 0); } } 

.b6{
    position: absolute;
    width: 27vw;
    height: auto;
    top: 60%;
    left: 27%;
    rotate: -90deg;
    animation: move6 4s ease-in 2s infinite;
}

@keyframes move6 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(4vw, -6vh); } 
    100% { transform: translate(0, 0); } } 

.b7{
    position: absolute;
    width: 30vw;
    height: auto;
    top: 74%;
    left: 56%;
    animation: move7 6s ease-in 2s infinite;
}
@keyframes move7 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(-4vw, 6vh); } 
    100% { transform: translate(0, 0); } } 

.b8{
    position: absolute;
    width: 25vw;
    height: auto;
    top: 50%;
    left: 56%;
    rotate: -30deg;
    animation: move8 4s ease-in 2s infinite;
}
@keyframes move8 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(8vw, -2vh); } 
    100% { transform: translate(0, 0); } } 
.b9{
    position: absolute;
    width: 25vw;
    height: auto;
    top: 50%;
    left: 50%;
    animation: move9 2s ease-in 2s infinite;
}

@keyframes move9 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(4vw, -7vh); } 
    100% { transform: translate(0, 0); } } 


.b10 {
    position: absolute;
    width: 20vw;
    height: auto;
    top: 80%;
    left: 55%;
    rotate: 30deg;
    animation: move10 2s ease-in 2s infinite;
}

@keyframes move10 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(4vw, 2vh); } 
    100% { transform: translate(0, 0); } } 

.b11 {
    position: absolute;
    width: 15vw;
    height: auto;
    top: 99%;
    left: 67%;
    rotate: 85deg;
    animation: move11 4s ease-in 2s infinite;
}
@keyframes move11 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(-20vw, -3vh); } 
    100% { transform: translate(0, 0); } } 
.b12 {
    position: absolute;
    width: 18vw;
    height: auto;
    top: 30%;
    left: 53%;
    rotate: 30deg;
    animation: move12 6s ease-in 2s infinite;
}
@keyframes move12 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(0vw, 23vh); } 
    100% { transform: translate(0, 0); } } 
.text {
    position: absolute;
    z-index: 4;
    width: 100vw;
    height: auto;
    top: 1%;
    animation: updown 2.5s linear 4s infinite;
}

@keyframes updown {
    0% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-4vh);
    }
    100% {
        transform: translateY(0);
    }
}

.co2 {
    position: absolute;
    z-index: 3;
    width: 43vw;
    height: auto;
    top: 20%;
    left: 50%;
    animation: spin 3s ease 3s infinite;
}

@keyframes spin {
    0% {rotate: 0deg;}
    100% {rotate: 360deg;}
}

.second {
    display: flex;
    position: relative;
    /* overflow-x: hidden; */
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    margin-top: 100vh;
}

.gradient {
    position: absolute;
    left: 4%;
    width: 100%; 
    height: auto; 
    z-index: 1;
    opacity: 0.55;
    animation: blury 5s infinite ease-in-out;
}
@keyframes blury {
    0% {opacity: 0.55;}
    50% {opacity: 1;}
    100% {opacity: 0.55}
}

.line1 {
    position: absolute;
    width: 110vw;
    height: auto;
    z-index: 2;
    top: -30vh;
    animation: moving1 6s linear infinite;
}
@keyframes moving1 {
    0% {transform: translate(0, 0);}
    50% {transform: translate(-15vw, 0);}
    70% {scale: 1.2;}
    100% {transform: translate(0, 0);}
}

.line2 {
    position: absolute;
    width: 110vw;
    height: auto;
    z-index: 2;
    top: 77vh;
    animation: moving2 6s linear infinite;
}
@keyframes moving2 {
    0% {transform: translate(0, 0);}
    50% {transform: translate(15vw, 0);}
    70% {scale: 1.2;}
    100% {transform: translate(0, 0);}
}

.circle {
    position: absolute;
    z-index: 3;
    left: -30%;
    width: 27%;
    height: auto;
}

.cir1{
animation: chaoticJump1 6s ease-in-out infinite;
}
.cir1:hover {
    animation-play-state: paused;}

@keyframes chaoticJump1 {
    0%{ top: 0%; left: -30%;}
    30%{ top: 25%; left: 30%;}
    50%{ top: -5%; left: 50%; scale: 1.2; }
    70%{ top: 30%; left: 70%; }
    90%{ top: -10%; left: 90%; scale: 1.2}
    100%{ top: 20%; left: 110%; rotate: 360deg;}
 }

 .cir2 {
    animation: chaoticJump2 8s ease-in-out infinite 1s;
 }
 @keyframes chaoticJump2 {
    0%{ top: 3%; left: -30%;}
    30%{ top: 40%; left: 30%; }
    50%{ top: 7%; left: 50%; scale: 1.3; }
    70%{ top: 30%; left: 70%; }
    90%{ top: 5%; left: 90%; scale: 1.3}
    100%{ top: 35%; left: 110%; rotate: -360deg;}
 }
 .cir2:hover {
    animation-play-state: paused;}

    .cir3 {
    animation: chaoticJump3 10s ease-in-out infinite 2s;
  }

  @keyframes chaoticJump3 {
    0%{ top: 3%; left: -30%;}
    30%{ top: 40%; left: 30%; }
    50%{ top: 7%; left: 50%; scale: 0.8; }
    70%{ top: 30%; left: 70%; }
    90%{ top: 5%; left: 90%; scale: 0.8}
    100%{ top: 35%; left: 110%; rotate: -360deg;}
  }
  .cir3:hover {
    animation-play-state: paused;}
    
    .why {
        position: absolute;
        color: white;
        font-family: 'TTTravels-DemiBold';
        font-size: 5vw;
        z-index: 2;
        top: 20%;
        animation: pop 5s ease-out infinite;
    }
    @keyframes pop {
        0%{opacity: 0;}
        50%{opacity: 1;}
        100%{opacity: 0;}
    }

.third {
    display: flex;
    position: relative;
    /* overflow-x: hidden; */
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    margin-top: 20vh;
}
.fg {
    position: absolute;
    width: 85%; 
    height: auto; 
    top: 10%;
    left: 10%;
    z-index: 2;
    animation: scaling 4s ease-in infinite;
}

    @keyframes scaling {
        0% {scale: 0.8; opacity: 0.7;}
        50% {scale: 1; opacity: 1;}
        100% {scale: 0.8; opacity: 0.7;}
    }

    .mol {
        position: absolute;
    }

    .mol1 {
        width: 10vw;
        height: auto;
        left: 5%;
        top: 3%;
        z-index: 1;
        animation: spini1 2s ease-in infinite;
    }
    @keyframes spini1 {
        0% {rotate: 0deg;}
        100% {rotate: 360deg;}
    }
    .mol2 {
        width: 15vw;
        height: auto;
        left: 80%;
        top: 30%;
        z-index: 3;
        rotate: -85deg;
        animation: spini2 1s linear infinite;
    }
    @keyframes spini2 {
        0% {rotate: 0deg;}
        100% {rotate: -360deg;}
    }
    .mol3 {
        width: 7vw;
        height: auto;
        left: 60%;
        top: 70%;
        z-index: 1;
        rotate: 55deg;
        animation: spini3 3s ease-in-out infinite;
    }
    @keyframes spini3 {
        0% {rotate: 0deg;}
        100% {rotate: 360deg;}
    }
    .mol4 {
        width: 5vw;
        height: auto;
        left: 30%;
        top: 80%;
        z-index: 3;
        rotate: 15deg;
        animation: spini4 1.5s ease-out infinite;
    }
    @keyframes spini4 {
        0% {rotate: 0deg;}
        100% {rotate: -360deg;}
    }
    .mol5 {
        width: 9vw;
        height: auto;
        left: 10%;
        top: 90%;
        z-index: 3;
        rotate: 160deg;
        animation: spini4 3.5s ease-in-out infinite;
    }
    @keyframes spini4 {
        0% {rotate: 0deg;}
        100% {rotate: 360deg;}
    }

    .ball {
        position: absolute;
    }

    .ball1 {
        width: 9vw;
        height: auto;
        left: 13%;
        top: 40%;
        z-index: 1;
        rotate: 10deg;
        animation: opacity1 3s ease-in infinite;
    }
    @keyframes opacity1 {
        0% {opacity: 1;}
        50% {opacity: 0;}
        100% {opacity: 1;}
    }

    .ball2 {
        width: 5vw;
        height: auto;
        left: 70%;
        top: 60%;
        z-index: 3;
        rotate: 40deg;
        animation: opacity2 4s ease-in-out infinite;
    }
    @keyframes opacity2 {
        0% {opacity: 0;}
        50% {opacity: 1;}
        100% {opacity: 0;}
    }
    .ball3 {
        width: 6vw;
        height: auto;
        left: 90%;
        top: 7%;
        z-index: 3;
        rotate: 90deg;
        animation: opacity3 2.5s ease-in-out infinite;
    }
    @keyframes opacity3 {
        0% {opacity: 1;}
        50% {opacity: 0;}
        100% {opacity: 1;}
    }
    .ball4 {
        width: 5vw;
        height: auto;
        left: 50%;
        top: 3%;
        z-index: 3;
        rotate: 120deg;
        animation: opacity4 3s ease-in-out infinite;
    }
    @keyframes opacity4 {
        0% {opacity: 0;}
        50% {opacity: 1;}
        100% {opacity: 0;}
    }
    .ball5 {
        width: 11vw;
        height: auto;
        left: 90%;
        top: 90%;
        z-index: 1;
        rotate: 20deg;
        animation: opacity5 3.7s ease-in-out infinite;
    }
    @keyframes opacity5 {
        0% {opacity: 1;}
        50% {opacity: 0;}
        100% {opacity: 1;}
    }
    .ball6 {
        width: 4vw;
        height: auto;
        left: 50%;
        top: 99%;
        z-index: 1;
        rotate: 70deg;
        animation: opacity6 5s ease-in-out infinite;
    }
    @keyframes opacity6 {
        0% {opacity: 0;}
        50% {opacity: 1;}
        100% {opacity: 0;}
    }
    .w_e {
        position: absolute;
    }
    .w_e1{
        width: 4vw;
        height: auto;
        left: 77%;
        top: 86%;
        z-index: 1;
        animation: bigger1 3s linear infinite ;
    }
    @keyframes bigger1 {
        0% {scale: 1;}
        50% {scale: 1.3;}
        100% {scale: 1;}
    }
    .w_e2{
        width: 9vw;
        height: auto;
        left: 0%;
        top: 60%;
        z-index: 3;
        animation: bigger2 2s linear infinite;
    }
    @keyframes bigger2 {
        0% {scale: 1;}
        50% {scale: 0.6;}
        100% {scale: 1;}
    }
    .w_e3{
        width: 7vw;
        height: auto;
        left: 30%;
        top: 98%;
        z-index: 3;
        animation: bigger3 2.5s ease-in infinite ;
    }
    @keyframes bigger3 {
        0% {scale: 1;}
        50% {scale: 1.2;}
        100% {scale: 1;}
    }
    .w_e4{
        width: 5vw;
        height: auto;
        left: 69%;
        top: 11%;
        z-index: 3;
        animation:  bigger4 4.5s ease-in infinite;
    }
    @keyframes bigger4 {
        0% {scale: 1;}
        50% {scale: 1.7;}
        100% {scale: 1;}
    }
    .w_e5{
        width: 3vw;
        height: auto;
        left: 40%;
        top: 30%;
        z-index: 3;
        animation: bigger5 3.5s ease-in infinite;
    }
    @keyframes bigger5 {
        0% {scale: 1;}
        50% {scale: 1.9;}
        100% {scale: 1;}
    }
    .w_e6{
        width: 6vw;
        height: auto;
        left: 60%;
        top: 50%;
        z-index: 3;
        animation: bigger6 1.5s ease-in infinite;
    }
    @keyframes bigger6 {
        0% {scale: 1;}
        50% {scale: 1.3;}
        100% {scale: 1;}
    }
    .w_e7{
        width: 9vw;
        height: auto;
        left: 40%;
        top: 55%;
        z-index: 3;
        animation: bigger7 2.5s ease-in infinite;
    }
    @keyframes bigger7 {
        0% {scale: 1;}
        50% {scale: 0.7;}
        100% {scale: 1;}
    }


    .footer {
        position: relative;
        width: 100%;
        height: 5vh;
        margin-top: 5vh;
        align-items: baseline;
        /* overflow: hidden; */
    }

    .text1 {
        position: absolute;
        color: white;
        font-family: 'TTTravels-Bold';
        font-size: 1.5vw;
        left: 3%;
    }

    .text2 {
        position: absolute;
        color: white;
        font-family: 'TTTravels-Regular';
        right: 3%;
        font-size: 1.5vw;
    }

    .text3 {
        position: absolute;
        color: white;
        font-family: 'TTTravels-Regular';
        font-size: 1vw;
        right: 3%;
        padding-top: 1.8%;
    }